# node backend
DATABASE_URL=""
CORS_ORIGIN=""
PORT=

#django backend
DJANGO_SECRET_KEY=""
DJANGO_DEBUG=""
ALLOWED_HOSTS=""
DJANGO_SETTINGS_MODULE=""

# shared backend
OPENAI_API_KEY=""
OPENAI_MODEL=""

# frontend (server-side)
BACKEND_BASE_URL=""
BACKEND_BEARER_TOKEN=""

# shared
AGENT_A=""
AGENT_B=""
